<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>		<!--<%= title %>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>ROCIO</p> -->
    <img src="https://vignette.wikia.nocookie.net/disney/images/a/ab/Kim.gif/revision/latest?cb=20090424152434&path-prefix=es"> 
  </body>
</html>
